.cards, .cards p, .cards img{
    width: 100%;
}
.cards a{
    text-decoration: none;
    color: white;
}
.home h1{
    width: 100%;
    text-align: center;
    margin: 20px;
}
.menu{
    background-color: #007bff;
}
.head{
    background-color: #006bff;
}
.text-muted{
    color: black;
}
input, textarea{
    width: 100%;
    padding: 10px;
}
input[type="submit"]{
    width: 20%;
}
.emailPage i{
    padding: 10px;
}
.emailPage span{
    position: absolute;
    top: 10px;
}