.cards, .cards p, .cards img{
    width: 100%;
}
.cards a{
    text-decoration: none;
    color: white;
}
.home h1{
    width: 100%;
    text-align: center;
    margin: 20px;
}
.menu{
    background-color: #007bff;
}
.head{
    background-color: #006bff;
}
.text-muted{
    color: black;
}
input, textarea{
    width: 100%;
    padding: 10px;
}
input[type="submit"]{
    width: 20%;
}
.emailPage i{
    padding: 10px;
}
.emailPage span{
    position: absolute;
    top: 10px;
}
.form span{
    position: absolute;
    top:0;
    color: red;
}
#dialogoverlay{
      display: none;
      opacity: .8;
      position: fixed;
      top: 0;
      left: 0;
      background: #FFF;
      width: 100%;
      z-index: 10;
  }
#dialogbox{
    display: none;
    position: fixed;
    background-color: #CCC;
    border-radius:7px;
    width:550px;
    z-index: 10;
    font-size:20px;
}
#dialogbox > div{
    background:#CCC; margin:10px;
}
#dialogboxhead{
    color: #478bf9;
}
#dialogboxbody{
    color: black;
}
#boutonOk{
    width: 100%;
}
#align{
    display: flex;
    justify-content: space-around;
}